body {
  background-color: #111111;
  font-family: Microsoft JhengHei;
}
.navbar-default {
  background-color: #3b5998;
  border-color: #030033;
}
.navbar-nav {
  line-height: 50px;
}
#startpage {
  color: white;
  font-size: 18px;
  line-height: 80px;
  text-align: center;
}
#basic_info {
  position: fixed;
  top: 0px;
  left: 50px;
  width: 27%;
  height: 220px;
  background-color: #111111;
  z-index: 1;
}
#page_info {
  position: absolute;
  top: 80px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 50px;
  z-index: 2;
}
#post_info {
  position: absolute;
  top: 120px;
  left: 60px;
  color: white;
  font-size: 14px;
  line-height: 30px;
  z-index: 2;
}
#country_info {
  position: absolute;
  top: 180px;
  left: 39%;
  color: white;
  font-size: 16px;
  z-index: 2;
}
#fbgraph {
  position: fixed;
}
#fbmessage {
  position: absolute;
  top: 210px;
  left: 50px;
  width: 27%;
  color: white;
  font-size: 12px;
}
.node_label {
  text-anchor: middle;
  font-family: Microsoft JhengHei;
  font-weight: bold;
  pointer-events: none;
  fill: none;
}
#logo img {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
}
#loading_image {
  position: absolute;
  top: 40%;
  display: none;
}
#loading_image img {
  width: 60px;
  height: 60px;
}
div.calendar
{
    max-width: 240px;
    margin-left: auto;
    margin-right: auto;
}
div.calendar table
{
    width: 100%;
    margin-top: 150px;
}
.graticule {
  fill: none;
  stroke: #777;
  stroke-width: .5px;
  stroke-opacity: .5;
}
.boundary {
  fill: none;
  stroke: #fff;
  stroke-width: .5px;
}
